doctype html  
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/index.css")
        title Technology Innovations
    body
        div#scene
            
            #left-zone
                ul.list
                    - var i = 0;
                    each val in data
                        li.item
                            if i == 0
                                input(type="radio", id='radio_' + i name="basic_carousel" onclick="check()" data-image=val.image value=i checked)
                            else
                                input(type="radio", id='radio_' + i name="basic_carousel"  onclick="check()" data-image=val.image  value=i) 
                            
                            label(for='radio_' + i, class='label_' + i)
                                | #{val.title}
                            div(class='content content_' + i)
                                h1
                                    | #{val.title}
                                each val1 in val.description 
                                    p= val1
                                    
                        - i += 1;
            #middle-border
            #right-zone
        script(src="./js/index.js") 